body {
  font-family: Arial;
}

.topTopContainer {
  height: 200px;
  width: 100%;
  border: 0.2px solid black;
}

/* TOP CONTAINER ****************************************************************/

.topContainer {
  margin-top: 20px;
  width: 100%;
}

.directory {
  font-size: 12px;
  padding-left: 20px;
}

.topContainer h1 {
  padding-left: 10px;
}

.headerSection {
  background-image: url('https://cms.coach.com/i/coach/20220209-gift-banner-bg');
  text-align: center;
  padding: 25px;
}

.header {

}

.headerMainText {
  font-family: Garamond;
  font-size: 20px;
  color: gray;
}

.headerLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 12px;
  text-decoration: underline;
}

.headerLink {
  margin-left: 10px;
  margin-right: 10px;
}



/* MAIN CONTAINER ****************************************************/

.mainContainer {
  display: flex;
}



/* MAIN CONTAINER LEFT ************************************************/

.mainContainerLeft {
  width: 220px;
  /* border: 0.2px solid red; */
  height: fit-content;
  padding: 5px;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  height: 50px;
  /* border: 0.2px solid orange; */
}

.filterHeaderText, .filterHeaderButton {
  font-size: 10px;
  line-height: 50px;
  height: 30px;
}

.filterHeaderButton {
  margin-top: 10px;
  color: lightgray;
  /* background-color: white; 
  border: 0.2px gray; */
}

.filterOptions {
  /* border: 0.2px solid slateblue; */
  height: fit-content;
}

.filterOption {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  border-top: 1px solid lightgray;
}

.filterOption img {
  height: 15px;
  margin-top: 10px;
}



/* MAIN CONTAINER RIGHT ************************************************/

.mainContainerRight {
  width: fit-content;
  padding-left: 50px;
  /* border: 2px solid green; */
}

.productSectionHeader {
  display: flex;
  justify-content: space-between;
  height: 75px;
  font-size: 13px;
  line-height: 75px;
  /* border: 0.2px solid turquoise; */
}

.numberOfProducts {
  /* border: solid orange; */
}

.sortBySection {
  display: flex;
  /* border: 0.2 px soolid purple; */
}

.sortBySectionCriterion {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.sortBySection img{
  height: 15px;
  margin-top: 30px;
}

.productRow {
  display: flex;
  margin-bottom: 25px;
}

.productBox {
  height: 350px;
  width: 200px;
  margin-right: 25px;
  /* border: 0.2px solid blueviolet; */
}

.productBox img {
  height: 250px;
  width: 200px;
}

.productDetails {
  height: 100px;
  width: 200px;
  padding-top: 5px;
  font-family: Cambria;
  color:dimgray;
  font-size: 15px;
  /* border: 0.2px solid goldenrod; */
}

.productName, .price, .rating {
  padding-left: 5px;
  padding-top: 5px;
}




/* BOTTOM CONTAINER ************************************************************/

.bottomContainer {
  width: 100%;
  height: 100px;
  border: 0.2px solid purple;

}